.toolbar {
  display: flex;
  justify-content: center;
  background-color: #7CB342;
  padding: 16px;

  h1 {
    font-size: 32px;
    font-weight: bold;
    color: white;
  }
}

.container {
  padding: 48px 48px 0 48px ;
}

